button
	background-color: transparent
	&:focus
		outline: none
		box-shadow: none
	

.btn 
	border: 0
	padding: 0
	&:focus
		outline: none
		box-shadow: none
	
	&__new 
		font-size: 14px
		font-family: "Montserrat"
		color: rgb(255, 255, 255)
		font-weight: bold
		text-decoration: underline
		text-transform: uppercase
		line-height: 2
		text-align: left
		transition: .3s all ease-in-out
		// &:hover 
		// 	text-decoration: underline $main-color
		// 
		span
			transform: skewX(20deg)
			.ri-arrow-right-line
				font-size: 14px
				line-height: 20px
				padding-left: 10px
			
		
		@media(max-width: 991.98px) 
			width: 120px
			font-size: 14px
		
	
	&__new2
		width: 190px
		height: 40px
		border-radius: 20px
		background-color: #0b3155
		line-height: 40px
		text-align: center
		color: #fff
		font-size: 15px
		font-family: "Montserrat"
		&:hover
			background-color: #3361ae
			color: #fff
		
